#nav-header {
    .mixin-flex;
    //align-items: center;
    background: #F29016;
    width: 100%;
    border: 2px solid red;

    .nav-container {
        justify-content: space-between;
        align-content: center;
        width: 50%;
        margin: auto;
    }

    nav {
        padding-bottom: 10px;

        a {
            text-decoration: none;
            font-size: 1.6em;
            margin: 16px 1.6rem;
            font-weight: bold;
            color: @dark-red;
        }
    }
}